Repository vadilkt/genealogyApp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
    "*.{ts,tsx,js,jsx}": [
        "eslint --fix",
        "prettier --write"
    ],
    "*.{json,md,scss,css}": [
        "prettier --write"
    ]
}

modifying gitignore
  .gitignore
Due: none

docs: rédaction du README complet (installation, stack, conventions)
  README.md
Due: prettier --write

build: require Node >=20, add .nvmrc for Railway deployment
  .nvmrc
  package.json
Due: prettier --write

build(app): ignore ESLint during Next.js build for Railway deployment
  apps/ms-genealogie-app/next.config.js
Due: eslint --fix, prettier --write

fix(app): use UserRole enum in auth mock instead of string literal
  apps/ms-genealogie-app/src/domains/auth/api/mocks.ts
Due: eslint --fix, prettier --write

fix(app): add missing userId field in Profile mocks
  apps/ms-genealogie-app/src/domains/family/api/mocks.ts
  apps/ms-genealogie-app/src/domains/profiles/api/mocks.ts
Due: eslint --fix, prettier --write

fix(app): clean up TypeScript config and type errors
  apps/ms-genealogie-app/next.config.js
  apps/ms-genealogie-app/src/pages/login.page.tsx
  apps/ms-genealogie-app/src/pages/register.page.tsx
  apps/ms-genealogie-app/tsconfig.json
Due: eslint --fix, prettier --write

feat(profile): afficher filiation et informations directement sur la page profil
  apps/ms-genealogie-app/src/pages/profiles/[id].page.tsx
Due: eslint --fix, prettier --write

fix(app): use node standalone server for production start
  apps/ms-genealogie-app/package.json
Due: prettier --write

fix(deploy): add railway.toml and outputFileTracingRoot for standalone build
  apps/ms-genealogie-app/next.config.js
  railway.toml
Due: eslint --fix, prettier --write

fix(deploy): bind standalone server to 0.0.0.0 for Railway healthcheck
  apps/ms-genealogie-app/package.json
Due: prettier --write

fix(deploy): switch to Dockerfile for reliable standalone build on Railway
  Dockerfile
  apps/ms-genealogie-app/.env.production
  apps/ms-genealogie-app/next.config.js
  railway.toml
Due: eslint --fix, prettier --write

config
  apps/ms-genealogie-app/tsconfig.tsbuildinfo
Due: none

fix(deploy): add outputFileTracingRoot for monorepo standalone build
  Dockerfile
  apps/ms-genealogie-app/next.config.js
Due: eslint --fix, prettier --write

fix(deploy): fix healthcheck endpoint and Railway startup config
  .dockerignore
  Dockerfile
  apps/ms-genealogie-app/src/pages/api/health.page.ts
  railway.toml
Due: eslint --fix, prettier --write

fix(deploy): bust Railway Docker cache on every deploy
  Dockerfile
Due: none

fix(deploy): revert healthcheckPath to /
  railway.toml
Due: none

fix(deploy): override Railway start command to use correct server path
  apps/ms-genealogie-app/package.json
  railway.toml
Due: prettier --write

feat(profiles): add nullable fields, ProfileNode type, and family-graph/orphans endpoints
  apps/ms-genealogie-app/src/domains/profiles/api/index.ts
  apps/ms-genealogie-app/src/domains/profiles/types.ts
  apps/ms-genealogie-app/src/domains/profiles/useProfiles/index.ts
Due: eslint --fix, prettier --write

feat(users): add changePassword API and useChangePassword mutation hook
  apps/ms-genealogie-app/src/domains/users/api/index.ts
  apps/ms-genealogie-app/src/domains/users/useUsers/index.ts
Due: eslint --fix, prettier --write

feat(notifications): add notifications domain (types, API, hooks)
  apps/ms-genealogie-app/src/domains/notifications/api/index.ts
  apps/ms-genealogie-app/src/domains/notifications/types.ts
  apps/ms-genealogie-app/src/domains/notifications/useNotifications/index.ts
Due: eslint --fix, prettier --write

feat(layout): add notifications bell, global tree link, and admin users menu item
  apps/ms-genealogie-app/src/components/AppLayout/index.tsx
Due: eslint --fix, prettier --write

feat(dashboard): add orphan profiles stat card and warning alert
  apps/ms-genealogie-app/src/pages/index.page.tsx
Due: eslint --fix, prettier --write

feat(tree): add SVG export and controlled active tab state
  apps/ms-genealogie-app/src/pages/profiles/[id]/tree.page.tsx
Due: eslint --fix, prettier --write

feat(pages): add global family tree page and admin user management page
  apps/ms-genealogie-app/src/pages/admin/users.page.tsx
  apps/ms-genealogie-app/src/pages/tree.page.tsx
Due: eslint --fix, prettier --write

fix(layout): collapsible sidebar on mobile with hamburger menu
  apps/ms-genealogie-app/src/components/AppLayout/AppLayout.module.scss
  apps/ms-genealogie-app/src/components/AppLayout/index.tsx
Due: eslint --fix, prettier --write

fix(auth): make login/register card responsive on small screens
  apps/ms-genealogie-app/src/pages/login.page.tsx
  apps/ms-genealogie-app/src/pages/register.page.tsx
Due: eslint --fix, prettier --write

fix(forms): responsive grid, date validation and skeleton loader
  apps/ms-genealogie-app/src/pages/profiles/[id]/edit.page.tsx
  apps/ms-genealogie-app/src/pages/profiles/new.page.tsx
Due: eslint --fix, prettier --write

fix(dashboard): explicit empty state, full-width search bar, mobile table scroll
  apps/ms-genealogie-app/src/pages/index.page.tsx
Due: eslint --fix, prettier --write

fix(profile): replace Spin with Skeleton on profile detail loading
  apps/ms-genealogie-app/src/pages/profiles/[id].page.tsx
Due: eslint --fix, prettier --write

fix(admin): empty states, mobile scroll, clearer button label
  apps/ms-genealogie-app/src/pages/admin/places.page.tsx
  apps/ms-genealogie-app/src/pages/admin/users.page.tsx
Due: eslint --fix, prettier --write

fix(types): handle nullable Profile fields across the codebase
  apps/ms-genealogie-app/src/domains/family/api/mocks.ts
  apps/ms-genealogie-app/src/domains/profiles/api/mocks.ts
  apps/ms-genealogie-app/src/domains/profiles/service/index.ts
  apps/ms-genealogie-app/src/pages/profiles/[id]/tree.page.tsx
  apps/ms-genealogie-app/tsconfig.tsbuildinfo
Due: eslint --fix, prettier --write

fix(profiles): handle paginated API response and skip orphans query for non-admins
  apps/ms-genealogie-app/src/domains/profiles/api/index.ts
  apps/ms-genealogie-app/src/domains/profiles/useProfiles/index.ts
  apps/ms-genealogie-app/src/pages/index.page.tsx
Due: eslint --fix, prettier --write

fix(tree): align spouse generations and re-push children after convergence
  apps/ms-genealogie-app/src/pages/tree.page.tsx
Due: eslint --fix, prettier --write

fix(api): normalize all list responses with a shared toArray helper
  apps/ms-genealogie-app/src/domains/academic/api/index.ts
  apps/ms-genealogie-app/src/domains/family/api/index.ts
  apps/ms-genealogie-app/src/domains/places/api/index.ts
  apps/ms-genealogie-app/src/domains/professional/api/index.ts
  apps/ms-genealogie-app/src/domains/profiles/api/index.ts
  apps/ms-genealogie-app/src/domains/users/api/index.ts
  apps/ms-genealogie-app/src/utils/index.ts
Due: eslint --fix, prettier --write

fix(tree): place spouses adjacent to root with marriage connector
  apps/ms-genealogie-app/src/pages/profiles/[id]/tree.page.tsx
Due: eslint --fix, prettier --write

fix(global-tree): guarantee spouses are adjacent with marriage connector
  apps/ms-genealogie-app/src/pages/tree.page.tsx
Due: eslint --fix, prettier --write

chore: add jest config, ignore tsbuildinfo artifacts
  .gitignore
  apps/ms-genealogie-app/jest.config.js
  apps/ms-genealogie-app/tsconfig.tsbuildinfo
Due: eslint --fix, prettier --write

feat(i18n): bilingual fr/en localization + language switcher
  apps/ms-genealogie-app/public/locales/en/common.json
  apps/ms-genealogie-app/public/locales/fr/common.json
  apps/ms-genealogie-app/src/components/AppLayout/index.tsx
  apps/ms-genealogie-app/src/components/LanguageSwitcher/index.tsx
  apps/ms-genealogie-app/src/components/Layout/index.tsx
  apps/ms-genealogie-app/src/components/ProfileSelect/index.tsx
  apps/ms-genealogie-app/src/components/profile/AcademicTab/index.tsx
  apps/ms-genealogie-app/src/components/profile/AlertsTab/index.tsx
  apps/ms-genealogie-app/src/components/profile/FamilyTab/index.tsx
  apps/ms-genealogie-app/src/components/profile/ProfessionalTab/index.tsx
  apps/ms-genealogie-app/src/components/profile/ProfileMemberCard/index.tsx
  apps/ms-genealogie-app/src/pages/_app.page.tsx
  apps/ms-genealogie-app/src/pages/admin/places.page.tsx
  apps/ms-genealogie-app/src/pages/admin/users.page.tsx
  apps/ms-genealogie-app/src/pages/login.page.tsx
  apps/ms-genealogie-app/src/pages/register.page.tsx
Due: eslint --fix, prettier --write

feat(dates): approximate/uncertain date capture & display
  apps/ms-genealogie-app/src/components/profile/InfoTab/index.tsx
  apps/ms-genealogie-app/src/domains/profiles/types.ts
  apps/ms-genealogie-app/src/pages/profiles/[id]/edit.page.tsx
  apps/ms-genealogie-app/src/pages/profiles/new.page.tsx
  apps/ms-genealogie-app/src/utils/formatDate.ts
Due: eslint --fix, prettier --write
